* {
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: auto;
    filter: greyscale(100%);
    transition: 0.4s all;
}
.nav {
    width: 350px;
    height: auto;
    background-color: gray;
    position: relative;
    top: 20%;
    left: 0%;
}
.nav a{
    text-decoration-color: none;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    height:90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}
k.lion {
    background-color: yellow;
    color: burlywood;
}
.nav a:hover{
    background-color: black;
    color: thistle;
    width:100%;
} 
.k {
    width: 93%;
}
.r {
    width: 85%;
}
.a {
    width: 75%;
}
.f {
    width:85%;
}
.t {
    width:93%;
}
# About {
    
}