h1 {
    color: #00f;
    text-align: center;
}
h2 {
    color: #83ff93;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    }
ol {
    line-height: 40px;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;letter-spacing: normal;
    padding: 5px;
    width: 150px;
  }
.one {
    font-style: italic;
}
body {
    background-color: #444;
    color: #ffffff;
}